.main-container {
  padding: 30px 20px;
  background-color: #ffffff;
}
.main-container > div:first-child {
  color: green;
  font-size: 14px;
  border: 2px solid #f2f2f2;
  padding: 10px;
  text-align: justify;
  margin-bottom: 30px;
}
.main-container > div:nth-child(2) {
  color: red;
  font-size: 14px;
  border: 2px solid #f2f2f2;
  padding: 10px;
  text-align: justify;
  margin-bottom: 30px;
}
.main-container > div:nth-child(3) {
  color: blue;
  font-size: 14px;
  border: 2px solid #f2f2f2;
  padding: 10px;
  text-align: justify;
  margin-bottom: 30px;
}
.image  {
    text-align: center;
}
